<html xmlns:th="https:www.thymeleaf.org">
    <head>
        <title>View Product Details</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    </head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Product Management</h1>
        </div>
        <span>Product ID</span>
        <span th:text="${product.id}"></span><br/>
        <span>Product Name</span>
        <span th:text="${product.name}"></span><br/>
        <span>Product price</span>
        <span th:text="${product.price}"></span><br/>
        <br/>
        <a th:href="@{/view/update/{id}(id=${product.id})}">Update Product</a>
    </div>
</body>
</html>